:root {
  --header-main-color: #212121;
  --header-secondary-color: #757575;
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --main-background-color: #ffffff;
  --secondary-background-color: #F5F4FA;
  --second-button-color: #212121;
  --main-button-color: #ffffff;
  --icon-main-color: #AFB1B8;
  --footer-background-color: #2F303A;
  --main-footer-color: #ffffff;
  --secondary-footer-color: rgba(255, 255, 255, 0.6);
  --modal-title-color: #212121;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

main {
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  main {
    padding-top: 80px;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  font-family: Roboto, sans-serif;
}

.link {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.list {
  list-style: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.top-title {
  margin-bottom: 30px;
  color: var(--title-text-color);
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .top-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.main-button {
  padding: 10px 28px;
  border: none;
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  color: var(--main-button-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--timing-function);
}
.main-button:hover, .main-button:focus {
  background-color: #188CE8;
}

.backdrop {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  width: 100%;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0.7;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    min-height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  fill: #000000;
  transition: fill 250ms var(--timing-function);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.modal-close-button:hover, .modal-close-button:focus {
  fill: var(--accent-color);
}

.modal-title {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--modal-title-color);
}
@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 1.15;
  }
}

.modal-field {
  margin-bottom: 10px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms var(--timing-function);
}
.modal-input:focus {
  border: 1px solid var(--accent-color);
}

.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--modal-title-color);
  transition: fill 250ms var(--timing-function);
}
.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.user-text {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms var(--timing-function);
}
.user-text:focus {
  border: 1px solid var(--accent-color);
}
.user-text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.label-check {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .label-check {
    line-height: 1.71;
  }
}

.label-check::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--modal-title-color);
  border-radius: 2px;
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .label-check::before {
    margin-right: 7px;
  }
}
.input-check:focus + .label-check::before, .input-check:checked + .label-check::before {
  background-color: var(--accent-color);
  border: none;
  background-image: url(../images/modal-check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.check-accent {
  position: relative;
  color: var(--accent-color);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .check-accent {
    line-height: 1.71;
  }
}

.check-accent::after {
  position: absolute;
  content: "";
  left: 0;
  top: 18px;
  width: 100%;
  height: 1px;
  background-color: var(--accent-color);
}

.modal-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 60px;
  z-index: 100;
  border-bottom: 1px solid #ECECEC;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}
.header .container {
  position: relative;
  display: flex;
  align-items: center;
  height: inherit;
}

.header__logo {
  margin-right: 93px;
}

.header .logo__accent {
  color: var(--header-main-color);
}

.menu-button {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  fill: var(--header-main-color);
  transition: fill 250ms var(--timing-function);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.menu-button:hover, .menu-button:focus {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.header-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-nav {
    display: block;
  }
}

.menu-list {
  display: flex;
}

.menu-list__item:not(:last-child) {
  margin-right: 50px;
}

.menu-list__link {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--header-main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-function);
}
.menu-list__link:hover, .menu-list__link:focus {
  color: var(--accent-color);
}
.menu-list__link.current {
  color: var(--accent-color);
}
.menu-list__link.current::after {
  display: block;
}
.menu-list__link::after {
  position: absolute;
  bottom: -1px;
  content: "";
  display: none;
  height: 4px;
  width: 100%;
  background: var(--accent-color);
  border-radius: 2px;
}

.header-connect {
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header-connect {
    display: block;
  }
}

.connect-list {
  display: block;
}
@media screen and (min-width: 1200px) {
  .connect-list {
    display: flex;
  }
}

.connect-list__item:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .connect-list__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.connect-list__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--header-secondary-color);
  transition: color 250ms var(--timing-function);
}
@media screen and (min-width: 1200px) {
  .connect-list__link {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
.connect-list__link:hover, .connect-list__link:focus {
  color: var(--accent-color);
}

.connect-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

.mob-menu {
  display: block;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}
.mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mob-menu .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  padding: 48px 15px 68px 40px;
}

.mob-menu-list {
  flex-grow: 1;
}

.mob-menu-item:not(:last-child),
.mob-connect-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--header-main-color);
  transition: color 250ms var(--timing-function);
}
.mob-menu-link:hover, .mob-menu-link:focus {
  color: var(--accent-color);
}
.mob-menu-link.current {
  color: var(--accent-color);
}

.mob-connect-list {
  margin-bottom: 64px;
}

.mob-connect-link {
  color: var(--header-secondary-color);
  transition: color 250ms var(--timing-function);
}
.mob-connect-link:hover, .mob-connect-link:focus {
  color: var(--accent-color);
}

.mob-connect-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-connect-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mob-soc-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
}

.mob-soc-item {
  padding: 0 10px;
  margin-bottom: 10px;
}
.mob-soc-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-soc-link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.no-scroll {
  overflow: hidden;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-bg-mob.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-bg-mob-2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-bg-tab.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-bg-tab-2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-bg-desk.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-bg-desk-2x.jpg");
  }
}

.hero .container {
  display: block;
}

.hero-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  text-transform: uppercase;
}
@media screen and (min-width: 480px) {
  .hero-title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.features-item {
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (max-width: 767.98px) {
  .features-item:last-child {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) {
  .features-item {
    flex-basis: calc(50% - 30px);
    margin-left: 30px;
  }
  .features-item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .features-item {
    flex-basis: calc(25% - 30px);
  }
}

.features-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--secondary-background-color);
  width: 100%;
  height: 120px;
}

.features-icon {
  display: block;
  width: 70px;
  height: 70px;
}

.features-title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (max-width: 767.98px) {
  .features-title {
    text-align: center;
  }
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.about {
  display: none;
}
@media screen and (min-width: 1200px) {
  .about {
    display: block;
  }
}

.about-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.about-item {
  position: relative;
}

.about-title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 27px 0;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  pointer-events: none;
}

.team {
  background-color: var(--secondary-background-color);
}

.team-list {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team-list__item {
  margin-bottom: 30px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .team-list__item {
    width: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1999px) {
  .team-list__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    width: calc(25% - 30px);
  }
}

.team-list__item,
.team-info {
  border-radius: 0px 0px 4px 4px;
}

.team-info {
  width: 100%;
  padding: 30px 0 24px;
  background-color: #fff;
}
@media screen and (min-width: 1200px) {
  .team-info {
    padding: 30px 0;
  }
}

.team-info__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-info__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
}

.team-soc-list__item + .team-soc-list__item {
  margin-left: 10px;
}

.team-soc-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #ffffff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-main-color);
  transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.team-soc-list__link:hover, .team-soc-list__link:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.clients-item {
  flex-basis: calc(50% - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}
@media screen and (max-width: 767.98px) {
  .clients-item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .clients-item {
    flex-basis: calc(33.3333333333% - 30px);
  }
  .clients-item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    flex-basis: calc(16.6666666667% - 30px);
    margin-bottom: 0;
  }
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--icon-main-color);
  fill: var(--icon-main-color);
  cursor: pointer;
  transition: border 250ms var(--timing-function), fill 250ms var(--timing-function);
}
.clients-link:hover, .clients-link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.clients-icon {
  width: 106px;
  height: 60px;
}

.works-filter-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .works-filter-list {
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .works-filter-list {
    margin-bottom: 50px;
  }
}

.works-filter-item:not(:last-child) {
  margin-right: 8px;
}
@media screen and (max-width: 767.98px) {
  .works-filter-item:not(:nth-last-child(-n+2)) {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .works-filter-item {
    margin-bottom: 0;
  }
}

.works-button {
  display: inline-block;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  min-width: 73px;
  height: 38px;
  color: var(--second-button-color);
  background-color: var(--secondary-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  transition: color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.works-button:hover, .works-button:focus, .works-button.current {
  color: var(--main-button-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works-section .works-button.current {
  color: var(--main-button-color);
  background-color: var(--accent-color);
}

.works-list {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .works-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.works-item {
  margin-bottom: 30px;
  transition: box-shadow 250ms var(--timing-function);
}
@media screen and (min-width: 768px) {
  .works-item {
    width: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .works-item {
    width: calc(33.3333333333% - 30px);
  }
}
.works-item:hover, .works-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.works-item.is-hidden {
  display: none;
}

.works-link {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.works-cover {
  position: relative;
  overflow: hidden;
  max-height: 294px;
}

.works-cover-text {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms var(--timing-function);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 24px;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}
.works-item:hover .works-cover-text {
  transform: translateY(0px);
}

.works-info {
  width: 100%;
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  pointer-events: none;
  flex-grow: 1;
}

.works-title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works-text {
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    text-align: start;
  }
}

.footer-connect {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-connect {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-connect {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-logo .accent {
  color: #ffffff;
}

.footer-connect-item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer-connect-item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-connect-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-footer-color);
  transition: color 250ms var(--timing-function);
}
.footer-connect-link:hover, .footer-connect-link:focus {
  color: var(--accent-color);
}

.state-link {
  color: #ffffff;
}

.footer-action-text {
  margin-bottom: 20px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-soc-list {
    margin-bottom: 0;
  }
}

.footer-soc-item + .footer-soc-item {
  margin-left: 10px;
}

.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.footer-soc-link:hover, .footer-soc-link:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
    align-items: end;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form-field {
    margin-right: 10px;
  }
}

.footer-label {
  display: block;
}

.footer-input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .footer-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-input {
    width: 358px;
  }
}

.footer-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
}

.footer-send-icon {
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */