.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 60px;
    @include tablet {
        height: 80px;
    }
    z-index: 100;
    border-bottom: 1px solid #ECECEC;
    background-color: #ffffff;
    
    .container {
        position: relative;
        display: flex;
        align-items: center;
        height: inherit;
    }
}

.header__logo {
    margin-right: 93px;
}

.header .logo__accent {
    color: var(--header-main-color);
}
.menu-button {
    position: absolute;
    top: 10px;
    right: 15px;

    width: 40px;
    height: 40px;

    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    fill: var(--header-main-color);
    transition: fill 250ms var(--timing-function);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
    @include tablet {
        display: none;
    }
}

.header-nav {
    display: none;
    @include tablet {
        display: block;
    }
}
.menu-list {
    display: flex;
}
.menu-list__item:not(:last-child) {
    margin-right: 50px;
}

.menu-list__link {
    position: relative;
    display: block;
    box-sizing: border-box;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--header-main-color);
    
    @include font (500, 14px, 1.14, 0.02em);
    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    &.current {
        color: var(--accent-color);
    }

    &.current::after {
        display: block;
    }

    &::after {
        position: absolute;
        bottom: -1px;
        content: '';
        display: none;
        height: 4px;
        width: 100%;
        background: var(--accent-color);
        border-radius: 2px;
    }
}
.header-connect {
    display: none;
    @include tablet {
        display: block;
    }
    margin-left: auto;
}
.connect-list {
    display: block;
    @include desktop {
        display: flex;
    }
}
.connect-list__item {
    &:not(:last-child) {
        margin-bottom: 10px;
    }

    @include desktop {
        &:not(:last-child) {
            margin-right: 30px;
            margin-bottom: 0;
        }
    }
}

.connect-list__link {
    display: flex;
    align-items: center;
    @include font (500, 12px, 1.17, 0.02em);

    @include desktop {
        @include font (null, 14px, 1.14, 0.02em);
    }
    color: var(--header-secondary-color);
    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.connect-list__icon {
    margin-right: 10px;
    fill: currentColor;
}

