.mob-menu {
    display: block;
    @include tablet {
        display: none;
    }
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;

    opacity: 1;
    visibility: visible;
    transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);

    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        padding: 48px 15px 48px 40px;
    }
}  
.mob-menu-list {
    flex-grow: 1;
}

.mob-menu-item,
.mob-connect-item {
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.mob-menu-link {
    @include font (500, 40px, 1.18, 0.02em);
    color: var(--header-main-color);
    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    &.current {
        color: var(--accent-color);
    }
}

.mob-connect-list {
    margin-bottom: 64px;
}

.mob-connect-link {
    color: var(--header-secondary-color);
    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}
.mob-connect-tel {
    @include font (500, 34px, 1.25, 0.02em);
    color: var(--accent-color)
}
.mob-connect-mail {
    @include font (500, 24px, 1.17, 0.02em);
}

.mob-soc-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
}
.mob-soc-item {
    padding: 0 10px;
    margin-bottom: 10px;

    &:not(:last-child) {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
}
.mob-soc-link {
    display: block;
    @include font (500, 18px, 1.22, 0.02em);
    color: var(--accent-color);
}
.no-scroll {
    overflow: hidden;
}