.top-title {
    margin-bottom: 30px;
    color: var(--title-text-color);
    @include font (null, 28px, 1.18, 0.03em);
    text-align: center;

    @include desktop {
        margin-bottom: 50px;
        @include font (null, 36px, 1.17, 0.03em);
    }
}